AUTOMATA_TOKEN=
AUTOMATA_MONGO_HOST=
AUTOMATA_PRIMARY_GUILD=
AUTOMATA_VERIFIED_ROLE=
AUTOMATA_EMAIL_VERIFICATION_SECRET=
AUTOMATA_EMAIL_VERIFICATION_FROM_ADDRESS=
AUTOMATA_EMAIL_VERIFICATION_SMTP_HOST=
AUTOMATA_EMAIL_VERIFICATION_SMTP_PORT=587
AUTOMATA_EMAIL_VERIFICATION_SMTP_USERNAME=
AUTOMATA_EMAIL_VERIFICATION_SMTP_PASSWORD=
AUTOMATA_EMAIL_VERIFICATION_SMTP_STARTTLS=true
AUTOMATA_EMAIL_VERIFICATION_SMTP_USE_SSL=false
AUTOMATA_EMAIL_VERIFICATION_CODE_TTL_MINUTES=15
AUTOMATA_ENABLED_PLUGINS=
AUTOMATA_DISABLED_PLUGINS=
AUTOMATA_EXECUTIVE_DOCS_CHANNEL=
AUTOMATA_MEMBER_INTENTS_ENABLED=
AUTOMATA_STARBOARD_CHANNEL_ID=
AUTOMATA_STARBOARD_THRESHOLD=
SENTRY_DSN=
DISCORD_AUTH_URI=
